* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  height: 156px;
  background: #5CA5A5;
}
header .header-pc {
  width: 100%;
  height: 156px;
}
header .header-mobile {
  display: none;
}
@media (max-width: 540px) {
  header .header-mobile {
    display: block;
    width: 100vw;
    height: 156px;
  }
  header .header-pc {
    display: none;
  }
}

main {
  display: grid;
  gap: 1.5rem;
  padding: 4.75rem 0;
}
@media (max-width: 540px) {
  main {
    gap: 3rem;
  }
}
@media (max-width: 1024px) and (min-width: 541px) {
  main {
    gap: 2.5rem;
  }
}
main .card {
  justify-self: center;
  width: 90%;
  height: 9.7rem;
  background: #FFFFFF;
  border-radius: 5px;
  display: grid;
  box-shadow: 0 10px 10px 0 rgba(43, 57, 57, 0.1);
}
@media (max-width: 1024px) and (min-width: 541px) {
  main .card {
    height: 14rem;
  }
}
@media (max-width: 540px) {
  main .card {
    height: 17.5rem;
  }
}
main .card .state {
  place-self: center;
  display: flex;
  width: 95%;
  height: 5.6rem;
  justify-content: space-between;
}
@media (max-width: 1024px) and (min-width: 541px) {
  main .card .state {
    gap: 2rem;
  }
  main .card .state .oval-image {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 540px) {
  main .card .state {
    height: 16rem;
    display: grid;
    padding: 0 1rem;
  }
  main .card .state .oval-image {
    width: 48px;
    height: 48px;
  }
}
main .card .state .info {
  display: flex;
  gap: 2rem;
}
@media (max-width: 540px) {
  main .card .state .info {
    position: relative;
    display: grid;
    gap: 1rem;
    border-bottom: 1px solid #7C8F8F;
    padding-bottom: 1.2rem;
    margin-bottom: -1rem;
    bottom: 2.2rem;
  }
}
@media (max-width: 1024px) and (min-width: 541px) {
  main .card .state .info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
  }
}
main .card .state .info .content {
  display: grid;
  align-items: center;
  gap: 0.6rem;
}
main .card .state .info .content .item {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
main .card .state .info .content .title {
  align-items: center;
  transition: all 1s ease;
}
main .card .state .info .content .title:hover {
  color: #5CA5A5;
}
main .card .state .info .content .posting {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .card .state .skills {
  align-self: center;
  display: flex;
  gap: 1rem;
  right: 8rem;
}
@media (max-width: 540px) {
  main .card .state .skills {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) and (min-width: 541px) {
  main .card .state .skills {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: right;
  }
}
main .card .state hr {
  display: none;
}
main .card-border {
  border-left: 5px solid #5CA5A5;
}

.attribution {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.attribution a {
  text-decoration: none;
}
@media (max-width: 540px) {
  .attribution {
    font-size: 0.8rem;
  }
}

body {
  background: #EFFAFA;
  font-family: "League Spartan";
}

.new, .featured {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.company, button {
  color: #5CA5A5;
  font-weight: 700;
}

.company {
  font-size: 18px;
}

button {
  font-size: 16px;
}

.title {
  color: #2B3939;
  font-weight: 700;
  font-size: 22px;
}

.posting {
  color: #7C8F8F;
  font-weight: 500;
  font-size: 18px;
}

.new {
  width: 51px;
  height: 24px;
  background: #5CA5A5;
  border-radius: 12px;
  border: none;
}

.featured {
  width: 89px;
  height: 24px;
  background: #2B3939;
  border-radius: 12px;
  border: none;
}

.dot {
  color: #B7C4C4;
}

.role, .level, .language, .tool {
  background: rgba(92, 165, 165, 0.1);
  border: rgba(92, 165, 165, 0.1);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  transition: all 1s ease;
}
@media (max-width: 1440px) {
  .role:hover, .level:hover, .language:hover, .tool:hover {
    background: #5CA5A5;
    color: #FFFFFF;
  }
}

.oval-image {
  width: 88px;
  height: 88px;
}/*# sourceMappingURL=index.css.map */