*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // overflow-x: hidden;
}

// Media Queries

// Small Devices
@mixin mobile{
    @media (max-width:$mobile){
        @content;
    }
}

// Large Devices
@mixin pc{
    @media (max-width:$pc){
        @content;
    }
}